@(planForm: Form[models.advert.AdvertiserPlan])(implicit request: RequestHeader, lang: play.api.i18n.Lang)
@name(suffix: String) = @{
    planForm("name").value.map(s => s"$s ").getOrElse("") + suffix
}

@import utils.bootstrap._
@import helper._
@import org.joda.time.DateTime
@import org.joda.time.format.DateTimeFormat
@import play.api.templates.PlayMagic.toHtmlArgs

@main(name("Plan")) {
} {
} {
    <div id="wrapper">
        @views.html.tags.navigation()
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">@name("Plan")</h1>
                </div>
            </div>
            <div class="row">
                @views.html.advert.tags.advertiserDetailsTabs(planForm("advertiserId").value.get.toLong, "plan")
                <div class="tab-content">
                    <div class="tab-pane active">
                        @request.flash.get("message").map { message =>
                            <div class="alert alert-success">@message</div>
                        }
                        @helper.form(action = controllers.advert.routes.AdvertiserController.changePlan(planForm("advertiserId").value.get.toLong), 'role -> "form", 'autocomplete -> "off") {
                            <fieldset>
                                @CSRF.formField
                                @planForm.globalError.map { error =>
                                    <div class="alert alert-danger">@error.message</div>
                                }
                                <input type="hidden" name="advertiserId" id="advertiserId" value="@planForm("advertiserId").value.get">
                                <input type="hidden" name="name" id="name" value="@planForm("name").value.get">
                                @helper.select(planForm("planName"), options("bronze" -> "Bronze", "silver" -> "Silver", "gold" -> "Gold"), '_label -> "Plan:", 'class -> "form-control", 'tooltip -> "Don't forget to check and set correct monthly fee if the plan is changed.", Symbol("tooltip-trigger") -> "focus", Symbol("tooltip-placement") -> "left", Symbol("tooltip-append-to-body") -> "true")
                                @helper.inputText(planForm("price"), '_label -> "Monthly Fee:", 'class -> "form-control")
                                @helper.inputText(planForm("photoLimit"), '_label -> "Photo Limit: (max. 10)", 'class -> "form-control")
                                @helper.inputText(planForm("balance"), '_label -> "Balance:", 'class -> "form-control", 'readonly -> "readonly")
                                @if(planForm("balanceChargedAt").value.isDefined) {
                                    @defining(DateTimeFormat.forPattern(DateTimeFormat.patternForStyle("MS", lang.toLocale))) { dateFormatter =>
                                        @helper.input(planForm("balanceChargedAt"), '_label -> "Last Balance Charged At:", 'class -> "form-control", 'readonly -> "readonly") { (id, name, value, args) =>
                                            <input name="@name" id="@id" value="@{dateFormatter.print(new DateTime(value.get.toLong))}" @toHtmlArgs(args)>
                                        }
                                    }
                                }
                                <button type="submit" class="btn btn-success">Save</button>
                            </fieldset>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
}